name: CI + CD to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SSH to AWS and run command
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2 }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.KEY }}
          script: |
            echo "Connected from GitHub Actions"
            hostname
            uptime

