name: Nginx install on EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install nginx on EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2 }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            sudo apt update -y
            sudo apt install -y nginx
            sudo systemctl enable nginx
            sudo systemctl restart nginx
